h1{
    color: rgb(32, 32, 129);
}
h2{
    color: crimson;
    text-decoration: overline;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#banner{
    padding-top: 5px;
    padding-bottom: 5px;
}

#banner p{
    margin: 0;
}

#nav, nav{
    background-color: cadetblue;
    color: aliceblue;
    padding: 10px;
    text-align: center;
}

#nav a, nav a{
    color: aliceblue;
    text-decoration: none;
    font-size: large;
    margin-right: 10px;
    padding: 10px;
}

#footer, footer{
    background-color: #E7E9EB;
    min-height: 150px;
    text-align: center;
}

#footer a, footer a{
    color: blue;
    text-decoration: overline;
}

article{
    margin-bottom: 50px;
}

.logo{
    height: 50px;
    width: 50px;
}